{% extends "layout/dashboardlayout.twig" %}

{% block title %}
        <title>Slim 3</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">Update article</h1>

    <div class="row">
        <div class="container m-auto">
            <div class="account-wall">
                <form class="form-signin" action="{{ path_for('dashboardupdatearticle',{'id':id}) }}" method="post">
                    <input type="text" class="form-control" value="{{article['title']}}" name="title" required autofocus>
                    <select id="interet" class="form-control" name="category[]" multiple>
                        {% for categories in categories %}
                            <option value="{{categories.id}}">{{categories.nom}}</option> 
                        {% endfor %}
                    </select>
                    <textarea id="editor" placeholder="text" name="text" required autofocus>{{article['text']}}</textarea>
                    <input type="text" class="form-control" value="{{article['image']}}" name="image" required autofocus>
                    {{ csrf_fields() | raw }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Update</button>
                </form>


                <h1 class="mt-4 mb-4">Comments </h1>
                <div class="table-responsive mt-3 mb-3">
                    <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="w-100">Title</th>
                        <th scope="col">Writer</th>
                        <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comments in comments %}
                        {% set commentnum = commentnum + 1 %}
                        <tr> 
                            <th scope="row">{{commentnum}}</th>
                            <td class="w-100">{{comments.text}}</td>
                            <td>{{comments.pseudo}}</td>
                            <td><a href="{{ path_for('deletecomment', { 'articleid':id, 'id':comments.id}) }}"><i class="fas fa-trash"></i></a></td>
                        </tr>
                        {% else %}
                        <tr>
                            <th colspan="8" class="text-center">There are no comments at the moment</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js"></script>
<script>
ClassicEditor
    .create( document.querySelector( '#editor' ) ), {
        removePlugins:[ 'image'],
        toolbar: [ 'Heading', 'bold', 'italic', 'bulletedList', 'numberedList', 'blockQuote', 'Link' ]
    }
    .then( editor => {
        console.log( editor );
    } )
    .catch( error => {
        console.error( error );
    } );
</script>
{% endblock %}